*, :after, :before{
    box-sizing: border-box;
}

.Post{
    flex: 0 0 25%;
    background: rgb(38, 42, 48);
    font-size: 14px;
    width: auto;
    height: 360px;
    margin: 5px 5px;
    border-radius: 3px;
    overflow: hidden;
    color: rgb(195, 235, 252);
    box-sizing: border-box;
    text-shadow:  0 0 1px white, 0 0 0.5px rgb(65, 73, 77);

     header{
        margin: 5px;
     }
     
    .userImg{   
        justify-content: center;
        align-self: center;
        justify-items: center;
        display: flex;
        align-items: center;
        height: 200px;
        overflow: hidden;
        border-radius: 3px;
        box-sizing: border-box;
        

        img{
 
            width: 100%;
            transition: all .4s ease-in-out;
            vertical-align: middle;
            border-style: none; 

        }

        img:hover{
            width: 115%;
            height: auto;   
            transition: all .4s;

        }

    }

    .userTitle{ 
        height: 20%;
        margin: 5px;
    }

    footer, header, .userTitle{
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    .postTags{
        color: rgb(96, 109, 128);
        display: flex;
        width: auto;
        div{
            text-shadow:  0 0 1px rgb(65, 73, 77), 0 0 0.5px  rgb(195, 235, 252);
            margin-right: 3px;
            padding: 0.5px 1px;
            font-size: 12px;
            background: rgb(60, 66, 73);    
            border-radius: 3px;
            border: 1px solid rgb(85, 105, 114);
        }
        div:hover{
            border: none;
            background: rgb(60, 66, 73); 
            transition: .3s ease-in-out;
            color: rgba(245, 107, 250, 0.89);
        }
    }


    .likes:hover{   
        transition: .3s ease-in-out;
        color: rgba(245, 107, 250, 0.89);
        padding: 1px;
    }
   
} 

.Post:hover{
    border: 1px solid #D6FAFE;
    box-shadow: 0px 0px 5px 5px rgba(219,219,219,0.51);
} 


@media only screen and (max-width: 1200px){
    .Post{
        flex: 0 0 40%;
    }
}

@media only screen and (max-width: 800px){
    .Post{
        flex: 0 0 60%;
    }
}