*, :after, :before{
    box-sizing: border-box;
}

.Post{
    background: white;
    font-size: 14px;
    height: 360px;
    width: 25%;
    margin: 5px 5px;
    border-radius: 3px;
    overflow: hidden;
    color:rgb(65, 73, 77);  
    box-sizing: border-box;
    text-shadow:  0 0 2px white, 0 0 1px rgb(65, 73, 77);

     header{
        margin: 5px;
     }
     
    .userImg{
        display: flex;
        align-items: center;
        height: 200px;
        overflow: hidden;
        border-radius: 3px;
        box-sizing: border-box;

        img{
            width: 100%;
            transition: all .4s ease-in-out;
            vertical-align: middle;
            border-style: none; 

        }

        img:hover{
            width: 115%;
            height: auto;   
            transition: all .4s 
        }

    }

    .userTitle{ 
        height: 20%;
        margin: 5px;
    }

    footer, header, .userTitle{
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    .postTags{
        display: flex;
        width: auto;
        div{
            margin-right: 3px;
            padding: 0.5px 1px;
            font-size: 12px;
            background-image: radial-gradient(rgb(177, 183, 190), rgb(255, 255, 255));
            border-radius: 3px;
            border: 1px solid rgb(227, 231, 236);
        }
        div:hover{
            border: 1px solid rgb(209, 220, 235);
            background-image: radial-gradient(rgb(176, 198, 223), rgb(255, 255, 255));
            
        }
    }


    .likes:hover{   
        transition: .3s ease-in-out;
        color: rgba(245, 107, 250, 0.89);
        padding: 1px;
    }
   
} 

.Post:hover{
    border: 1px solid #D6FAFE;
    box-shadow: 0px 0px 5px 5px rgba(219,219,219,0.51);
} 
