.Feed{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
}

.Feed:first-child{
    padding-top: 25px;
}

.Feed:last-child{
    padding-bottom: 25px;
} 


.Feed .Loader {
    margin: 20% auto;
    color: rgb(195, 235, 252);
    text-shadow:  0 0 1px white, 0 0 0.5px rgb(65, 73, 77); 
    
}