.Feed{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-image: radial-gradient(rgb(2, 10, 27), rgb(196, 205, 212));
    box-sizing: border-box;
}

.Feed:first-child{
    padding-top: 15px;
}

.Feed:last-child{
    padding-bottom: 15px;
}