.Feed{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-image: radial-gradient(rgb(2, 10, 27), rgb(196, 205, 212));
    box-sizing: border-box;
}

.Feed:first-child{
    padding-top: 25px;
}

.Feed:last-child{
    padding-bottom: 25px;
} 


.Feed .Loader {
    margin: 20% auto;
    color: rgb(60, 66, 73);
    text-shadow:  0 0 1px white, 0 0 0.5px rgb(65, 73, 77); 
    
}